USE [master]
GO
/****** Object:  Database [gaming_store]    Script Date: 3/7/2024 14:25:21 ******/
CREATE DATABASE [gaming_store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gaming_store', FILENAME = N'C:\SQLData\gaming_store.mdf' , SIZE = 8192KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'gaming_store_log', FILENAME = N'C:\SQLData\gaming_store_log.ldf' , SIZE = 1024KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gaming_store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gaming_store]
GO
/****** Object:  Table [dbo].[nintendo]    Script Date: 3/7/2024 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nintendo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[almacenamiento] [int] NOT NULL,
	[videojuego] [varchar](50) NULL,
	[conectividad_online] [bit] NULL,
	[portable] [bit] NULL,
	[duracion_bateria] [int] NULL,
	[periferico] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playstation]    Script Date: 3/7/2024 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playstation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[almacenamiento] [int] NOT NULL,
	[videojuego] [varchar](50) NULL,
	[conectividad_online] [bit] NULL,
	[ps_plus] [bit] NULL,
	[controles] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xbox]    Script Date: 3/7/2024 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xbox](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[almacenamiento] [int] NOT NULL,
	[videojuego] [varchar](50) NULL,
	[conectividad_online] [bit] NULL,
	[almacenamiento_nube] [int] NULL,
	[xbox_live_gold] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
